{% extends 'base.html.twig' %}

{% block title %}Village green{% endblock %}

{% block body %}
   
    <div class="container welcome-container mt-5">

        <h1>Bienvenue sur Village Green</h1>
        <p>
            Explorez notre large gamme d'instruments de musique et d'accessoires. 
            Créez de magnifiques mélodies et laissez votre créativité s'exprimer !
        </p>
        <a href="{{ path('app_accueil') }}" class="btn btn-primary welcome-btn">Découvrir le Catalogue</a>
        <a href="{{ path('app_contact') }}" class="btn btn-secondary welcome-btn">Nous Contacter</a>
    </div>

{% endblock %}

