<!DOCTYPE html>
<html>
<head>
    <title>Connection</title>
</head>
<body>
    <h1>Connection</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button type="submit">Je me connecte</button>
    {{ form_end(form) }}

</body>
</html>
