{% extends 'base.html.twig' %}

{% block title %}Village green{% endblock %}

{% block body %}
    <h1 class="text-center">Toutes nos categories</h1>
    <img src="assets/image/violon1.webp" alt="violon">
    <img src="assets/image/acoustique1.webp" alt="guitare acoustique">
    <img src="assets/image/guitare_elec1.webp" alt="guitare electrique">
    <img src="assets/image/saxo1.webp" alt="saxophone">
    <img src="assets/image/piano1.webp" alt="piano">
    <img src="assets/image/batterie1.webp" alt="batterie">

    <div class="">
        <div>
            <h1 class="text-center">Best sellers</h1>
        </div>
        <div>
            <img src="assets/image/best.webp" alt="image best sellers">
        </div>
    </div>

    <img src="assets/image/violon1.webp" alt="violon">
    <img src="assets/image/saxo1.webp" alt="saxophone">
    <img src="assets/image/piano1.webp" alt="piano">

{% endblock %}
