{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block javascripts %}
    <script type"text/javascript">

        var stripe = Stripe('sk_test_51QkMiAADlF7Q3OUjhJcYYIUvOwAyMcHgf7XXmbiFbvQGkm5FTKArURcDPUoCFSgjGYlVBToX44R0avE6c1uCCupS00bxsrdC7C');
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function()
        {
            fetch('/create-checkout-session',
            {
                method: 'POST',
            })
            .then(function(response)
            {
                return response.json();
            })
            .then(function(session)
            {
                return stripe.redirectionToCheckout({ sessionId: session.id });
            })
            .then(function(result)
            {
                if (result.error)
                {
                    alert(result.error.message);
                }
            })
            .catch(function(error)
            {
                console.error('Error:', error);
            });
        });
    
    </script>
{% endblock %}

{% block body %}

<h1>Achat</h1>

<button id="checkout-button">Payer</button>

{% endblock %}

