
body {
    background-color: #73927a;
    margin: 0;
    padding-bottom: 100px; /* Ajoute un espace pour éviter que le footer ne masque le contenu */
    box-sizing: border-box;
}


footer {
    position: fixed; /* Fixe à un endroit spécifique */
    bottom: 0;       /* Colle au bas de la fenêtre */
    left: 0;
    width: 100%;     /* Occupe toute la largeur */
    z-index: 1000;   /* Assure que le footer reste au-dessus d'autres éléments */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Ombre subtile pour démarquer */
}

footer a {
    margin-right: 15px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #73927a; /* Couleur en survol */
}

/* En-tête du tableau */
.table thead th {
    background-color: #73927a;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid white;
}

.table-row {
    height: 50px; 
}

.table td, .table th {
    vertical-align: middle;  /* Aligne verticalement le contenu au centre */
}

/* Bar de navigation */
.navbar {
    height: 90px; /* Hauteur de la barre */
    background-color: #0000; /* Couleur de fond */
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Nécessaire pour positionner le logo */
}

/* Logo */
.logo-container {
    flex-shrink: 0; /* Empêche le logo de se redimensionner */
    position: relative; /* Position relative pour ajuster le logo */
}

.logo {
    width: 260px; /* Ajustez la taille du logo */
    height: auto; /* Garde les proportions */
    position: relative;
    bottom: -30px; /* Descend légèrement le logo en dessous de la barre */
    z-index: 10; /* S'assure que le logo est au-dessus des autres éléments */
}

/* Barre de recherche */
.search-bar {
    flex-grow: 1; /* Utilise tout l'espace disponible entre le logo et les autres éléments */
    margin-left: 20px; /* Crée un espace à gauche pour éloigner du logo */
    max-width: 400px; /* Largeur maximale pour la barre de recherche */
}

/* Barre de navigation (liens à droite) */
.navbar-nav {
    margin-left: auto; /* Pousse les liens complètement à droite */
}

.nav-link {
    color: white;
    margin-right: 10px;
}


