{% extends 'base.html.twig' %}

{% block title %}Village green{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center my-5 text-white">Toutes nos catégories</h1>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

            <div class="col-4 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/acoustique1.webp" alt="Guitare acoustique" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text h-25">Instrument a cordes</p>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/saxo1.webp" alt="Saxophone" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text h-25">Instrument a vents</p>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/batterie1.webp" alt="Batterie" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text h-25">Instrument a percutions</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- Best Sellers -->
        <div class="d-flex align-items-center justify-content-center my-4">
            <h1 class"text-white">Best Sellers</h1>
            <img src="/image/best.webp" alt="Best Sellers" style="width: 70px; height: 70px; margin-left: 20px;">
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center mb-3">

            <div class="col-4 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/violon1.webp" alt="Violon" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text h-25">Violon</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/saxo1.webp" alt="Saxophone" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text h-25">Saxophone</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card h-100 d-flex flex-column">
                    <img src="/image/piano1.webp" alt="Piano" class="card-img-top h-75">
                    <div class="card-body text-center">
                        <p class="card-text h-25">Piano</p>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a href="{{ path('app_panier') }}" class="btn btn-light">Ajouter au panier</a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
